{{ define "content" }}
<article>
  <h1>{{ .Title }}</h1>

  <div class="">
    {{ .Content }}
  </div>

  <section class="mt-6 sm:mt-8 md:mt-10">
    <div class="flex flex-col gap-6 md:gap-8">
    {{- $projects := where .Site.RegularPages "Section" "projects" }}
    {{- range $project := $projects }}
      <div class="mb-2"></div>
    {{ partial "components/card.html" (dict
      "page" $project
      "showLogo" true
      "showDuration" true
    ) }}
    {{- end }}
    </div>
  </section>
</article>
{{ end }}
