<!DOCTYPE html>
<html lang="{{ .Site.Language }}" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
  <style>

  </style>
</head>
<body class="bg-neutral-950 text-neutral-300 min-h-screen flex flex-col" {{ if or .IsHome (eq .Kind "section") }}data-smooth-scroll="true"{{ end }}>
  {{ if not .Params.hideHeaderAndFooter -}}
  <header class="sticky top-0 bg-[rgba(12,12,12,0.95)] backdrop-blur-sm z-50 py-2">
    <div class="mx-auto px-4 w-full max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl">
      {{ partial "header.html" . }}
    </div>
  </header>
  {{- end }}

  <div class="mx-auto px-4 w-full max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl flex-1 flex flex-col">
    <main id="swup" class="transition-fade flex-1">
      {{ block "content" . }}{{ end }}
    </main>

    {{ if not .Params.hideHeaderAndFooter -}}
      {{ partial "footer.html" . }}
    {{- end }}
  </div>

  <!-- JS -->
  {{ $js := resources.Get "js/main.js" | js.Build | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
