{{- define "title" -}}
Thibault Lebrun - Senior Fullstack Web Developer
{{- end -}}

{{- define "content" -}}
  <section>
    <br>
    <div class="text-center mb-4">
      <img src="/img/profile.jpg" alt="Thibault Lebrun" class="w-[300px] mb-8 block mx-auto" fetchpriority="high" loading="eager" width="300" height="300">
    </div>

    <h1>
      Building Modern and Responsible Web Platforms
    </h1>
    <blockquote class="mb-4">
      Senior fullstack web developer with 10 years of experience, I specialize in supporting digital projects of all sizes and creating MVPs,
      offering professional, comprehensive and scalable custom-built solutions.
    </blockquote>
    <blockquote class="mb-4">
    For larger projects, I collaborate with <a href="https://improba.fr/" target="_blank">Improba</a>, a company specializing in
    large-scale digital projects in the impact sector.
    </blockquote>
    <p class="mb-4">
      You can view my main projects in the <a href="/projects">projects</a> section.
    </p>
    <p class="mb-4">
      Check out my <a href="/post/developpement-fullstack/methodologie/">technical and methodological reference</a> to learn more about how I work.
    </p>
  </section>
{{- end -}}
