{{- define "title" -}}
Thibault Lebrun - Développeur web fullstack senior
{{- end -}}

{{- define "content" -}}
  <section>
    <br>
    <div class="text-center mb-4">
      <img src="/img/profile.jpg" alt="Thibault Lebrun" class="w-[300px] mb-8 block mx-auto" fetchpriority="high" loading="eager" width="300" height="300">
    </div>

    <h1>
      Développement de plateformes web modernes et responsables
    </h1>
    <blockquote class="mb-4">
      Développeur web fullstack senior avec 10 ans d'expérience je me spécialise dans l'accompagnement de projets digitaux de toute taille et la création de MVP
      où je vous propose une solution professionnelle, complète et scalable faite sur mesure.
    </blockquote>
    <blockquote class="mb-4">
    Pour les projets plus ambitieux je collabore avec <a href="https://improba.fr/" target="_blank">Improba</a>, une entreprise spécialisée dans le développement
    de projets digitaux d'envergure dans le domaine de l'impact.
    </blockquote>
    <p class="mb-4">
      Vous pouvez consulter mes projets principaux depuis la rubrique <a href="/projects">projets</a>.
    </p>
    <p class="mb-4">
      Consultez mon <a href="/post/developpement-fullstack/methodologie/">référentiel technique et méthodologique</a> pour en savoir plus sur ma manière de travailler.
    </p>
  </section>
{{- end -}}
